<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <display-name>SmartLinks</display-name>
  <servlet>
    <servlet-name>log4j-init</servlet-name>
    <servlet-class>com.imayam.logging.Log4jInit</servlet-class>
    <init-param>
      <param-name>log4j-init-file</param-name>
      <param-value>WEB-INF/classes/log4j.lcf</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>CallBackServlet</servlet-name>
    <servlet-class>com.imayam.ticket.StatusServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ControllerServlet</servlet-name>
    <servlet-class>com.imayam.smartlinks.ControllerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TicketControllerServlet</servlet-name>
    <servlet-class>com.imayam.ticket.ControllerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TestControllerServlet</servlet-name>
    <servlet-class>com.imayam.smartlinks.TestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MusicControllerServlet</servlet-name>
    <servlet-class>com.imayam.music.ControllerServlet</servlet-class>
  </servlet>
 
  <servlet>
    <servlet-name>FileUploadServlet</servlet-name>
   <servlet-class>in.aasisolutions.FileUploadServlet</servlet-class>
  </servlet>
  
  
    <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/uploadFile</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>CallBackServlet</servlet-name>
    <url-pattern>/getstatus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ControllerServlet</servlet-name>
    <url-pattern>/controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TicketControllerServlet</servlet-name>
    <url-pattern>/ticket</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestControllerServlet</servlet-name>
    <url-pattern>/gre</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MusicControllerServlet</servlet-name>
    <url-pattern>/music</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
 
  <taglib>
    <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
    <taglib-location>/WEB-INF/tld/c.tld</taglib-location>
  </taglib>
    
  <taglib>
    <taglib-uri>http://java.sun.com/jstl/fmt</taglib-uri>
    <taglib-location>/WEB-INF/tld/fmt.tld</taglib-location>
  </taglib>
 
</web-app>
